/******************************** MOBILE **********************************/

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 24px 16px 22px 16px;
    }
    
}




/********************************* TABLET ***********************************/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .open-menu-btt {
        display: none;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--iris-color);
    }

    .current {
        position: relative;
        color: var(--iris-color);
    }

    .current::after {
        content: "";
        left: 0;
        bottom: -1px;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--iris-color);
        border-radius: 2px;
    }

    .header-menu-link:active {
        color: var(--title-color);
    }

    .header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--link-color);
        text-transform: uppercase;
        align-items: center;
        margin-right: 76px;
    }

    .span_studio {
        color: var(--title-color);
    }

    .header-address {
        font-style: normal;
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-soc-item:not(:last-child) {
        margin-bottom: 12px;
    }

    .header-soc-link {
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--text-color);
        font-size: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-soc-link:hover {
        color: var(--iris-color);
    }

    .header-soc-link:active,
    .header-soc-link:focus {
        color: var(--iris-color);
    }

     /***** SECTION HERO *****/

    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office-hero-1x.jpg);
    }

    .hero-main {
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-hero-2x.jpg);
        }

        .header-container {
            display: flex;
            padding: 0 16px;
        }
    }

     /***** SECTION FEATURE *****/

    .main-feature {
        flex-direction: unset;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .main-feature-list {
        width: calc((100% - 24px) / 2);
    }

    .main-feature-title {
        text-align: left;
    }

    .main-feature-paragraf {
        width: 100%;
    }

     /***** SECTION TEAM *****/

    .team-list {
        flex-wrap: wrap;
        flex-direction: unset;
        gap: 64px 24px;
    }

     /*** SECTION Customers ***/

    .customers-icon-li {
        width: calc((100% - 3 * 24px) / 3);
    }

     /***** FOOTER *****/

    

}




/***************************** DESKTOP ********************************/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .header-soc {
        display: flex;
        gap: 40px;
    }

    .header-soc-link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        font-size: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



     /***** SECTION HERO *****/
     
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office-desktop-1x.jpg);
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-desktop-2x.jpg);
        }
    }

    .hero-main {
        margin-bottom: 48px;
    }

     /******** SECTION FEATURE ********/

    .feature {
        padding: 120px 0;
    }

    .main-feature {
        flex-wrap: unset;
        gap: 24px;
    }
    
    .main-box-icon {
        width: 264px;
        height: 112px;
        background-color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .main-feature-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .main-feature-paragraf {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: var(--text-color);
    }

     /****** SECTION SERVICES ******/

    .services {
        display: block;
    }

     /***** SECTION TEAM *****/

    .team {
        background-color: var(--color-white);
        text-align: center;
        text-transform: capitalize;
        padding: 120px 0;
    }

    .team-list {
        flex-wrap: unset;
    }

    .team-list-content {
        width: calc((100% - 72px) / 4);
    }

     /*** SECTION Customers ***/

    .section-customers {
        width: 100%;
        padding: 120px 0;
        background-color: var(--main-color);
    }

    .customers-icon-li {
        width: calc((100% - 5 * 24px) / 6);
        height: 88px;
    }
    
    .customers-icon-list {
        display: flex;
        gap: 24px;
    }

     /***** FOOTER *****/

    .container-foot-web {
        margin-right: 120px;
        margin-left: 0;
    }

    .container-footer {
        display: flex;
        align-items: baseline;
    }

}
