:root {
    --title-color:#2e2f42;
    --link-color: #4d5ae5;
    --text-color: #434455;
    --main-color: #ffffff;
    --color-white: #f4f4fd;
    --iris-color: #404bbf;
    --color-green: #31d0aa;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    color: var(--text-color);
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--iris-color);
}

.current {
    position: relative;
    color: var(--iris-color);
}

.current::after {
    content: "";
    left: 0;
    bottom: -1px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--iris-color);
    border-radius: 2px;
}

.header-menu-link:active {
    color: var(--title-color);
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo { 
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--link-color);
    text-transform: uppercase;
    align-items: center;
    margin-right: 76px;
}

.span_studio {
    color: var(--title-color);
}

.header-address {
    font-style: normal;
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-soc {
    display: flex;
    gap: 40px;
}

.header-soc-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-link:hover {
    color: var(--iris-color);
}

.header-soc-link:active,
.header-soc-link:focus {
    color: var(--iris-color);
}

/*************     MAIN     **************/

/************* SECTION HERO **************/
.hero {
    background: var(--title-color);
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

.hero-main {
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-bttn {
    font-family: "Roboto", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--link-color);
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bttn:hover,
.hero-bttn:focus {
    background-color: var(--iris-color);
}

/************* SECTION FEATURE **************/
.feature {
    padding: 120px 0;
}

.main-feature {
    display: flex;
    gap: 24px;
}

.main-feature-list {
    width: calc((100%-72px) / 4);
}

.main-box-icon {
    width: 264px;
    height: 112px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
}


.main-feature-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.main-feature-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/************* SECTION SERVICES **************/

.services {
    padding-bottom: 120px;
}

.services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.services-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.services-list-images {
    width: calc((100%-48px) / 3);
}

/************* SECTION TEAM **************/

.team{
    background-color: var(--color-white);
    text-align: center;
    text-transform: capitalize;
    padding: 120px 0;
}

.team-list-content{
    background-color: var(--main-color);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.container-team {
    padding: 32px 0;

}

.team-title-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.team-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: var(--color-white);
}

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--link-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--iris-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************* SECTION Customers **************/

.section-customers {
    width: 100%;
    padding: 120px 0;
    background-color: var(--main-color);
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
}

.customers-icon-li {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
}

.customers-icon-list {
    display: flex;
    gap: 24px;
}

.customers-icon {
    fill: currentColor;
}

.customers-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-light-slate);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus  {
    color: var(--iris-color);
    border-color: var(--iris-color);
}

/*************     FOOTER     **************/

.footer-cover{
    background-color: var(--title-color);
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.container-foot-web {
    margin-right: 120px;
}

.span_studio_f {
    color: var(--color-white);
}

.studio {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 264px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon-tetle {
    width: 40px;
    height: 40px;
}

.footer-icon {
    fill: var(--color-white);
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--link-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--color-green);
}


/*_____________Footer Subscribe-box_____________*/

.subscribe-box {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribe-title {
    color: var(--white, #FFF);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    font-weight: 500;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btt {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.subscribe-btt:hover,
.subscribe-btt:focus {
    background-color: var(--iris-color);
    border: none;
    fill: var(--main-color);
}

.subscribe-svg {
    margin-left: 16px;
}






/*_____________________________PORTFOLIO______________________________*/

/*************     MAIN     **************/

/************* SECTION navigation  **************/

.section-portfolio {
    padding: 96px 0 120px 0;
}
.navigation-main {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.navigation-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--link-color);
    background-color: var(--color-white);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: block;
    border: 1px solid var(--color-cornflower);
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-btn:hover,
.navigation-btn:focus {
color: var(--main-color);
background-color: var(--iris-color);
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/************* CONTENT  **************/

.content-list {
    width: calc((100% - 48px) / 3);
}

.content-img {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-img:hover .container-slide-title,
.content-img:focus .container-slide-title {
    transform: translate(0);
}

.content-img:hover,
.content-img:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.content-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.content-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.container-content {
    border: 1px solid var(--color-cornflower);
    padding: 32px 16px;
    border-top: none;
}

.container-slide {
    position: relative;
    overflow: hidden;
}

.container-slide-title {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    background-color: var(--link-color);
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************* MODAL  **************/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-btt {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btt:hover,
.modal-btt:focus {
    background-color: var(--iris-color);
    border: none;
    fill: var(--main-color);
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

/*_____________ FORM MODAL _____________*/

.form-modal {
    display: flex;
    flex-direction: column;
}

.modal-box {
    margin-bottom: 8px;
}

.form-modal,
::after,
::before {
    box-sizing: border-box;
}

.modal-label {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.input-box {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 38px;
    padding-right: 34px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.modal-box-comment {
    margin-bottom: 16px;
}

/*_____________Privacy Policy_____________*/

.box-privacy-policy {
    margin-bottom: 24px;
}

.input-policy {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.label-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.policy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-policy:checked + .label-policy span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-policy-link {
color: #4d5ae5;
}

.modal-send-btt {
    background-color: var(--link-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-send-btt:hover,
.modal-send-btt:focus {
    background-color: var(--iris-color);
}

